Starbucks/node_modules/
Starbucks/.idea/jsLibraryMappings.xml
Starbucks/.idea/vcs.xml
Starbucks/public/templates/locations.html.orig
environmental data.md

Starbucks/public/images/coffee1.jpg
Starbucks/public/angularjs/StarbucksApp.js.orig
Starbucks/public/templates/placeorder.html.orig
