<link rel='stylesheet' href='/stylesheets/placeorder.css' />
<link rel="stylesheet"; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>
<div><h1>
    <div>
        <form name="form1" class="form-style-9">
            <ul class="form-style-1">
                <li>
                    <label>
                        Location :
                        <select ng-model="location" class="field-select"">
                        <option>Starbucks :  Santana Row</option>
                        <option>Starbucks :  San Jose Market Center</option>
                        <option>Starbucks :  Westfield Valley Fair</option>
                        </select>
                    </label>
                </li>
                <li>
                    <button ng-click="getOrders()">Get All Orders</button>
                </li>
            </ul>
        </form>
    </div>
    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th st-sort="firstName">first name</th>
            <th st-sort="lastName">last name</th>
            <th st-sort="birthDate">birth date</th>
            <th st-sort="balance">balance</th>
            <th>email</th>
        </tr>
        <tr>
            <th>
                <input st-search="'firstName'" placeholder="search for firstname" class="input-sm form-control" type="search"/>
            </th>
            <th colspan="4">
                <input st-search placeholder="global search" class="input-sm form-control" type="search"/>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in rowCollection">
            <td>{{row.firstName | uppercase}}</td>
            <td>{{row.lastName}}</td>
            <td>{{row.birthDate | date}}</td>
            <td>{{row.balance | currency}}</td>
            <td><a ng-href="mailto:{{row.email}}">email</a></td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="5" class="text-center">
                <div st-pagination="" st-items-by-page="itemsByPage" st-displayed-pages="7"></div>
            </td>
        </tr>
        </tfoot>
    </table>

    <!--<div>
    <table ng-table="vm.tableParams" class="table" >
        <tr ng-repeat="data in $orders">
            <td title="'Status'"  sortable="'data.status'">
                {{data.status}}</td>
            <td title="'Location'" sortable="'data.location'">
                {{data.location}}</td>
            <td title="'Drink'"  sortable="'data.items.drink'">
                {{data.items.drink}}</td>
            <td title="'Milk'"  sortable="'data.items.milk'">
                {{data.items.milk}}</td>
            <td title="'Size'" sortable="'data.items.size'">
                {{data.items.size}}</td>
            <td title="'Quatity'"  sortable="'data.items.qty'">
                {{data.qty}}</td>
        </tr>
    </table>
    </div>-->

</h1></div>