<link rel='stylesheet' href='/stylesheets/placeorder.css' />

<div>
    <h1> </h1>
<div>
    <form name="form1" ng-submit="submitForm()" class="form-style-9">
        <ul class="form-style-1">
            <li>
                <label ng-model="msg"> <span class="required"></span>{{msg}}</label>
            </li>
            <li>
                <label>
                    Location :
                    <select ng-model="location" class="field-select"">
                    <option>Starbucks :  Santana Row</option>
                    <option>Starbucks :  San Jose Market Center</option>
                    <option>Starbucks :  Westfield Valley Fair</option>
                    </select>
                </label>
            </li>
         <li>
                <label>Order ID <span class="required">*</span></label>
                <input type="text" name="orderid" class="field-long" ng-model="orderId"/>
            </li>

                 

            <li>
            <button style="width: 30%"  ng-click = "payOrder()">Pay</button>
            </li>

            <li>
                <label ng-model="msg"></label>
            </li>
            
            
        </ul>
    </form>
</div>
</div>