<link rel='stylesheet' href='/stylesheets/placeorder.css' />
<div >
    <h1></h1>
    <form>
        <ul class="form-style-1">
            <li>
                     <label ng-model="msg"> <span class="required"></span>{{msg}}</label>
            </li>
            <li>
                <label>
                    Location :
                    <select ng-model="location" required=true class="field-select">
                    <option>Starbucks :  Santana Row</option>
                    <option>Starbucks :  San Jose Market Center</option>
                    <option>Starbucks :  Westfield Valley Fair</option>
                    </select>
                </label>
            </li>
            <li>
                <label>Order ID <span class="required">*</span></label>
                <input required=true type="text" name="orderid" class="field-long" ng-model="orderId" />
            </li>
            <li>
                <label>Your order status <span class="required">*</span></label>
                <label ng-model="status"> <span class="required"></span>{{status}}</label>
                <!--<input type="text" readonly="readonly" name="orderstatus" class="field-long" ng-model="status" />-->
            </li>
            
            <li>
                <button style="width: 30%"  ng-click = "checkStatus()">Check Status</button>
            </li>

        </ul>
    </form>
</div>
