<!-- about.html -->
<div>
	<h1>Choose a location..</h1>

	<div>
		<p><b>
			1. Starbucks
		Santana Row
		3.1 mi · San Jose, CA
		(408) 241-3877
		Open until 11:00 PM
		</b></p>
		<p><b>2. Starbucks
			San Jose Market Center
			4.4 mi · San Jose, CA
			(408) 293-2362
			Open until 11:00 PM
		</b></p>
		<p><b>3. SStarbucks
			Westfield Valley Fair
			3.2 mi · Santa Clara, CA
			(408) 983-0804
			Closing soon: 10:00 PM
		</b></p>
	</div>
	<div id="map"></div>
	<script>
              function initMap() {

        var myLatLng = {lat: 37.321306, lng: -121.948970};
	var myLatLng1 = {lat: 37.341387, lng: -121.911713};
	var myLatLng2 = {lat: 37.325869, lng: -121.943740};	 

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 4,
          center: myLatLng
        });

        var marker = new google.maps.Marker({
          position: myLatLng,
          map: map,
          title: 'Hello World!'
        });

	var marker = new google.maps.Marker({
          position: myLatLng1,
          map: map,
          title: 'Hello World!'
        });

	var marker = new google.maps.Marker({
          position: myLatLng2,
          map: map,
          title: 'Hello World!'
        });

      }
	</script>
	<script async defer
			src="https://maps.googleapis.com/maps/api/js?key=API&callback=initMap">
	</script>
</div>
