
<legend style="text-align: center">Order here...</legend>

<!-- Adding the ng-app declaration to initialize AngularJS -->
<div id="menu" >
    <!-- The navigation menu will get the value of the "active" variable as a class.
         The $event.preventDefault() stops the page from jumping when a link is clicked. -->

    <nav class="{{active}}" ng-click="$event.preventDefault()">


        <a href="#placeorder" class="placeorder" ng-click="active='placeorder'">Place Order</a>
        <a href="#checkstatus" class="projects" ng-click="active='projects'">Check Status</a>
        <a href="#updateorder" class="services" ng-click="active='services'">Update Order</a>
        <a href="#payorder" class="contact" ng-click="active='contact'">Pay</a>
    </nav>

    <!-- ng-show will show an element if the value in the quotes is truthful,
         while ng-hide does the opposite. Because the active variable is not set
         initially, this will cause the first paragraph to be visible. -->

    <p ng-hide="active">Please click a menu item</p>

    <div ng-show="active">
        <form>
            <div class="bs-docs-example">
                <select class="selectpicker" multiple="" style="display: none;">
                    <option>Starbucks :  Santana Row</option>
                    <option>Starbucks :  San Jose Market Center</option>
                    <option>Starbucks :  Westfield Valley Fair</option>
                </select>
            </div>
            <label>Name: <input type="text" ng-model="user.name" /></label><br />
            <div class="bs-docs-example">
                <select class="selectpicker" multiple="" style="display: none;">
                    <option>Small</option>
                    <option>Medium</option>
                    <option>Large</option>
                </select>
            </div>

            <div class="bs-docs-example">
                <select class="selectpicker" multiple="" style="display: none;">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                </select>
            </div>
        </form>
    </div>


</div>
