<div><h1>
    <div>
        <form name="form1" class="form-style-9">
            <ul class="form-style-1">
                <li>
                    <label>
                        Location :
                        <select ng-model="location" class="field-select"">
                        <option>Starbucks :  Santana Row</option>
                        <option>Starbucks :  San Jose Market Center</option>
                        <option>Starbucks :  Westfield Valley Fair</option>
                        </select>
                    </label>
                </li>
                <li>
                    <button ng-click="getOrders()">Get All Orders</button>
                </li>
            </ul>
        </form>
    </div>

    <div></div>
    <table ng-table="vm.tableParams" class="table" show-filter="true">
        <tr ng-repeat="order in $data">
            <td title="'Status'" filter="{ name: 'text'}" sortable="'data.status'">
                {{data.status}}</td>
            <td title="'Location'" filter="{ name: 'text'}" sortable="'data.location'">
                {{data.location}}</td>
            <td title="'Drink'" filter="{ name: 'text'}" sortable="'data.items.drink'">
                {{data.items.drink}}</td>
            <td title="'Milk'" filter="{ name: 'text'}" sortable="'data.items.milk'">
                {{data.items.milk}}</td>
            <td title="'Size'" filter="{ name: 'text'}" sortable="'data.items.size'">
                {{data.items.size}}</td>
            <td title="'Quatity'" filter="{ qty: 'number'}" sortable="'data.items.qty'">
                {{data.qty}}</td>
        </tr>
    </table>

</h1></div>