<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js" />
<link rel='stylesheet' href='/stylesheets/placeorder.css' />
<script>
    $(document).ready(function(){

        var quantitiy=0;
        $('.quantity-right-plus').click(function(e){

            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            $('#quantity').val(quantity + 1);


            // Increment

        });

        $('.quantity-left-minus').click(function(e){
            // Stop acting like a button
            e.preventDefault();
            // Get the field name
            var quantity = parseInt($('#quantity').val());

            // If is not undefined

            // Increment
            if(quantity>0){
                $('#quantity').val(quantity - 1);
            }
        });

    });
</script>
<div>
    <h1> </h1>
<div ng-controller="placeorderCtrl">
    <form name="form1" ng-submit="submitForm()" class="form-style-9">
        <ul class="form-style-1">
         <li>
        <label>
            Drinks :
        <select ng-model="drink" class="field-select">
            <option>Capachino</option>
            <option>Mocha</option>
            <option>Latte</option>
            <option>Expresso</option>
        </select>
        </label>
            </li>
            <li>
        <label>
            Size :
        <select ng-model="size" class="field-select">
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
        </select>
        </label>
            </li>

            <li>
        <label>
            Location :
        <select ng-model="location" class="field-select"">
                <option>Starbucks :  Santana Row</option>
                <option>Starbucks :  San Jose Market Center</option>
                <option>Starbucks :  Westfield Valley Fair</option>
        </select>
        </label>
            </li>

            <li>
        <label>
            Quantity :
        <select ng-model="qty" class="field-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
        </select>
        </label>
            </li>

           

            <li>
            <button ng-click = "placeOrder()">Place Order</button>
            </li>
        </ul>
    </form>
</div>
</div>