<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.5.4/bootstrap-select.js" />
<link rel='stylesheet' href='/stylesheets/placeorder.css' />
<div>
    <h1> </h1>
<div>
    <form name="form1" class="form-style-9">
        <ul class="form-style-1">
            <li>
                <label ng-model="msg"></label>
            </li>
         <li>
        <label>
            Drinks :
        <select ng-model="drink" class="field-select" id="drink">
            <option>Cappucino</option>
            <option>Mocha</option>
            <option>Latte</option>
            <option>Expresso</option>
        </select>
        </label>
            </li>
            <li>
        <label>
            Size :
        <select ng-model="size" class="field-select" id="size">
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
        </select>
        </label>
            </li>
        
         <li>
        <label>
            Milk :
        <select ng-model="milk" class="field-select" id="milk">
            <option>Whole</option>
            <option>Almond</option>
            <option>2%</option>
        </select>
        </label>
            </li>

            <li>
        <label>
            Location :
        <select ng-model="location" class="field-select"">
                <option>Starbucks :  Santana Row</option>
                <option>Starbucks :  San Jose Market Center</option>
                <option>Starbucks :  Westfield Valley Fair</option>
        </select>
        </label>
            </li>

            <li>
        <label>
            Quantity :
        <select ng-model="qty" class="field-select" id="qty">
                <option>1</option>
                <option>2</option>
                <option>3</option>
        </select>
        </label>
            </li>


            <li>
            <button style="width: 30%" ng-click = "placeOrder()">Place Order</button>
            </li>

            <li>
                <label ng-model="msg"></label>
            </li>
        </ul>
    </form>
</div>
</div>
