<link rel='stylesheet' href='/stylesheets/placeorder.css' />
<div>
    <h1></h1>
    <form>
        <ul class="form-style-1">
            <li>
                <label>
                    Location :
                    <select ng-model="location" class="field-select"">
                    <option>Starbucks :  Santana Row</option>
                    <option>Starbucks :  San Jose Market Center</option>
                    <option>Starbucks :  Westfield Valley Fair</option>
                    </select>
                </label>
            </li>
            <li>
                <label>Order ID <span class="required">*</span></label>
                <input type="text" name="orderid" class="field-long" />

            </li>

            <li>
                <button ng-click="getOrder()" style="width: 30%" title="Get order details to update">Get Order</button>
            </li>
            
            <li>
            <label>
            Drinks :
            <select ng-model="drink" class="field-select">
            <option>Cappucino</option>
            <option>Mocha</option>
            <option>Latte</option>
            <option>Expresso</option>
            </select>
            </label>
            </li>
            
            <li>
            <label>
            Size :
            <select ng-model="size" class="field-select">
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
            </select>
            </label>
            </li>
            <li>
            
            <li>
            <label>
            Milk :
            <select ng-model="milk" class="field-select">
            <option>Whole</option>
            <option>Almond</option>
            <option>2%</option>
            </select>
            </label>
            </li>
            
            <label>
            Quantity :
            <select ng-model="qty" class="field-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            </label>
            </li>
            
            
            <li>
                <button ng-disabled = "isUpdateDisabled" style="width: 30%"  ng-click = "placeOrder()" title="Disabled if order update not allowed">Update Order</button>
            </li>

            <li>
                <label ng-model="msg"></label>
            </li>
        </ul>
    </form>
</div>

