<link rel='stylesheet' href='/stylesheets/placeorder.css' />
<div>
    <h1></h1>
    <form>
        <ul class="form-style-1">
            <li>
                <label>Order ID <span class="required">*</span></label>
                <input type="text" name="orderid" class="field-long" />
            </li>
            
            <li>
            <label>
            Drinks :
            <select ng-model="drink" class="field-select">
            <option>Cappucino</option>
            <option>Mocha</option>
            <option>Latte</option>
            <option>Expresso</option>
            </select>
            </label>
            </li>
            
            <li>
            <label>
            Size :
            <select ng-model="size" class="field-select">
            <option>Small</option>
            <option>Medium</option>
            <option>Large</option>
            </select>
            </label>
            </li>
            <li>
            
            <li>
            <label>
            Milk :
            <select ng-model="milk" class="field-select">
            <option>Whole</option>
            <option>Almond</option>
            <option>2%</option>
            </select>
            </label>
            </li>
            
            <label>
            Quantity :
            <select ng-model="qty" class="field-select">
                <option>1</option>
                <option>2</option>
                <option>3</option>
            </select>
            </label>
            </li>
            
            
            <li>
                <button ng-click = "placeOrder()">Check Status</button>
            </li>
        </ul>
    </form>
</div>

<!--
<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/css/bootstrapValidator.min.css"/>
<link rel='stylesheet' href='/stylesheets/checkstatus.css' />
<script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery.bootstrapvalidator/0.5.2/js/bootstrapValidator.min.js"></script>
<div>
    <h1> </h1>
<div class="container">
    <div class="row">
        <form role="form" id="contact-form" class="contact-form">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <input type="text" class="form-control" name="Order ID" autocomplete="off" id="orderid" placeholder="Order ID">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label class="form-control" placeholder="Status">Status</label>
                        <input type="email" class="form-control" name="email" autocomplete="off" id="email" placeholder="here is the status..">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn main-btn pull-right">Check Status</button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>-->
